<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rank.name %>
</p>

<p>
  <b>Min posts:</b>
  <%= @rank.min_posts %>
</p>

<p>
  <b>Custom:</b>
  <%= @rank.custom %>
</p>

<p>
  <b>Color:</b>
  <%= @rank.color %>
</p>

<p>
  <b>Image:</b>
  <%= @rank.image %>
</p>


<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
