= form_for @user do |f|
  - if @user.errors.any?
    .error
      %h2 #{pluralize(@user.errors.count, "error")} prohibited this user from being saved:
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = label_tag :name
    = text_field_tag :name, @user.name

  .field
    = label_tag :password
    = password_field_tag :password

  .field
    = label_tab :email
    = text_field_tag :email

  .actions
    = f.submit "Save"
