<p id="notice"><%= notice %></p>

<p>
  <b>First post:</b>
  <%= @forum_thread.first_post %>
</p>

<p>
  <b>Title:</b>
  <%= @forum_thread.title %>
</p>


<%= link_to 'Edit', edit_forum_thread_path(@forum_thread) %> |
<%= link_to 'Back', forum_threads_path %>
