!!! 5
%html
  %head
    %title Fraction Auth
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header#page-header
      = link_to '<h1>User Auth</h1>'.html_safe, root_path, :id => "logo"

      #user-dashboard
        - unless logged_in?
          = link_to "Login", login_path, :class => "user-dashboard-tab"
          .separator
        - else
          %h2#user-dashboard-greeting
            Hello,
            = link_to "#{@current_user.name}", admin_user_path(@current_user), :id => "user-settings-link"

          - if user_is_admin?
            = link_to 'Admin Panel', admin_users_path, :class => "user-dashboard-tab"
            .separator

          = link_to "Logout", logout_path, :class => "user-dashboard-tab"
          .separator

    #main
      = yield
