!!! 5
%html
  %head
    %title Fraction Auth
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header#page-header
      = link_to '<h1>Fraction Gamers</h1>'.html_safe, root_path, :id => "logo"

      #user-dashboard.navbar
        .navbar-inner
          %ul.nav
            - unless logged_in?
              %li
                = link_to "Login", main_app.login_path, :class => "user-dashboard-tab"
              %li.divider-vertical
            - else
              - if user_is_admin?
                %li
                  = link_to 'Admin Panel', main_app.admin_users_path, :class => "user-dashboard-tab"
                %li.divider-vertical

              %li
                = link_to "Logout", main_app.logout_path, :class => "user-dashboard-tab"
              %li.divider-vertical

          #user-dashboard-greeting
            Hello,
            = link_to "#{forem_user.name}", main_app.admin_user_path(forem_user), :id => "user-settings-link"

    #main
      = yield
